[alias]
	tidy = "! git branch | grep -v "master$" | xargs git branch -D"

[user]
# OLD
#	email = liftskit@gmail.com
#	name = LiftsKit LLC

	email = travis.linkey@servicecore.com 
	name = Travis Linkey 

[credential]
## LINUX
#	helper = cache
#	helper = /usr/bin/git-credential-manager-core
#	credentialStore = secretservice

## MAC
	helper = osxkeychain
	helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://dev.azure.com"]
	useHttpPath = true
